<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Support/bootstrap.php"
         cacheDirectory="var/cache/phpunit"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
        <testsuite name="Architecture">
            <directory>tests/Architecture</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>app</directory>
        </include>
    </coverage>
</phpunit>
