APP_ENV=local
APP_DEBUG=true
APP_NAME="QS Manager V2"

DB_HOST=db
DB_PORT=5432
DB_NAME=qs_manager_v2
DB_USER=qs_user
DB_PASSWORD=qs_password

EXTERNAL_SERVICES_ENABLED=false
LLM_ENABLED=false
QDRANT_ENABLED=false
WHATSAPP_ENABLED=false

