<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="QS Manager V2">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_NAME" value="qs_manager_v2_test" force="true"/>
        <env name="SHEETS_WRITE_SYNC_ENABLED" value="false" force="true"/>
    </php>
</phpunit>
