parameters:
  level: 8
  tmpDir: ../../var/cache/phpstan
  paths:
    - ../../app
    - ../../tests
  excludePaths:
    - ../../app/UI/Admin/Assets/node_modules
  bootstrapFiles:
    - ../../vendor/autoload.php
    - phpstan-bootstrap.php
  scanFiles:
    - ../../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
